/* 전체 페이지 높이와 기본 스타일 설정 */

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x)); */
}
.container {
  display: flex;
}
.cardbody {
  padding: 0 20px 0 20px;
}
.content1 {
  flex: 0 0 auto;
  width: 60%;
}
.content2 {
  flex: 0 0 auto;
  width: 40%;
  /* display: none; */
}
/* .content2 {
  width: min(100% - 1rem, 300px);
  margin-inline: auto;
  height: min(800px - 1.5rem);
  margin-block: auto;
} */

.card {
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
/* .content {
  width: min(100% - 2rem, 1200px);
  margin-inline: auto;
  height: min(800px - 1.5rem);
  margin-block: auto;
} */
#map {
  height: calc(100vh - 105px); /* 上下の余白分を引いた高さに調整 */
  margin-top: 65px; /* 上の余白 */
  margin-bottom: 40px; /* 下の余白 */
  border-radius: 20px;
  z-index: 100;
}

.box {
  display: flex;
  height: calc(100vh - 105px); /* 上下の余白分を引いた高さに調整 */
  margin-top: 65px; /* 上の余白 */
  margin-bottom: 40px; /* 下の余白 */
  /* background-color: #007bff; */
  border-radius: 20px;
}

.widget {
  background-color: #2c3e50; /* ウィジェットの背景色 */
  color: #fff; /* ウィジェットの文字色 */
  margin-bottom: 20px; /* ウィジェット間の余白 */
  padding: 20px; /* ウィジェット内のパディング */
  border-radius: 10px; /* 角の丸み */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影の効果 */
}

.widget-header {
  margin-bottom: 10px; /* ヘッダーとコンテンツ間の余白 */
  font-size: 1.2em; /* ヘッダーのフォントサイズ */
}

.widget-content {
  /* コンテンツ部分のスタイル */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: none;
}

/* 가운데 정렬된 버튼 스타일 */
.center-button {
  margin: 0 10px;
  /* 버튼 사이의 간격 조절 */
  padding: 10px 20px;
  background-color: transparent;
  /* 배경색 제거 */
  color: #007bff;
  /* 텍스트 색상 설정 */
  border: none;
  cursor: pointer;
}

/* 메뉴 아이콘 컨테이너 호버 스타일 */
.menu-icon-container:hover {
  color: #0b3d91;
}

#search-container {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  /* 검색창을 지도 위로 올리기 */
}

/* 검색 입력 필드 스타일 */
#search-input {
  width: 200px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-right: 5px;
}

#search-button {
  width: 25px;
  /* 버튼의 너비 */
  height: 25px;
  /* 버튼의 높이 */
  display: flex;
  /* 플렉스박스 레이아웃을 사용 */
  align-items: center;
  /* 수직 중앙 정렬 */
  justify-content: center;
  /* 수평 중앙 정렬 */
  background-color: transparent;
  /* 배경색을 투명하게 설정 */
  border: none;
  /* 테두리를 없애거나 투명하게 설정 */
  cursor: pointer;
  /* 마우스 커서 스타일 */
}

#search-img {
  width: 27px;
  /* 이미지 너비 */
  height: 27px;
  /* 이미지 높이 */
}

#search-container {
  display: flex;
  /* 컨테이너 안의 요소들을 가로로 배열 */
}

#search-input {
  width: 0;
  /* 처음에는 너비를 0으로 설정 */
  padding: 0;
  /* 패딩 제거 */
  border: none;
  /* 테두리 제거 */
  opacity: 0;
  /* 완전히 투명하게 설정 */
  overflow: hidden;
  /* 내용이 잘리지 않게 함 */
  transition: width 1s ease, opacity 0.5s ease;
  /* 너비와 투명도에 애니메이션 적용 */
}

#search-container.active #search-input {
  width: 200px;
  /* 활성 상태에서의 너비 */
  padding: 5px;
  /* 활성 상태에서의 패딩 (원하는대로 설정) */
  border: 1px solid #ccc;
  /* 활성 상태에서의 테두리 스타일 */
  opacity: 1;
  /* 활성 상태에서의 불투명도 */
}

#toggle-layer {
  position: absolute;
  /* 絶対位置を設定 */
  top: 60px;
  /* search-containerの下の位置を指定 */
  left: 20px;
  /* search-containerと同じ左位置 */
  background-color: #4caf50;
  /* グリーン */
  border: none;
  color: white;
  /* テキストの色 */
  padding: 10px 20px;
  /* 上下・左右のパディング */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  /* 上下・左右のマージン */
  cursor: pointer;
  /* カーソルがポインターになるように設定 */
  transition-duration: 0.4s;
  /* ホバー効果の遷移時間 */
  border-radius: 4px;
  /* 角を少し丸くする */
}

#toggle-layer:hover {
  background-color: #45a049;
  /* ホバー時の背景色 */
  color: white;
  /* ホバー時のテキスト色（変更なし） */
}

#message {
  position: absolute;
  top: 60px;
  left: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #333;
  z-index: 1;
  visibility: hidden;
  /* display: none; */
}

/* ダッシュボードリンクのスタイル */
#dashboard_link {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  border-radius: 20%;
  position: absolute;
  top: 80px;
  /* 検索コンテナの下に配置 */
  left: 20px;
  /* 左側の位置を検索コンテナと合わせる */
  z-index: 2;
  /* 検索コンテナの上に配置 */
}

#fish_link {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  border-radius: 20%;
  position: absolute;
  top: 140px;
  /* 検索コンテナの下に配置 */
  left: 20px;
  /* 左側の位置を検索コンテナと合わせる */
  z-index: 2;
  /* 検索コンテナの上に配置 */
}
#map_link01 {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  border-radius: 20%;
  position: absolute;
  top: 200px;
  /* 検索コンテナの下に配置 */
  left: 20px;
  /* 左側の位置を検索コンテナと合わせる */
  z-index: 2;
  /* 検索コンテナの上に配置 */
}
#map_link02 {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  border-radius: 20%;
  position: absolute;
  top: 140px;
  /* 検索コンテナの下に配置 */
  left: 20px;
  /* 左側の位置を検索コンテナと合わせる */
  z-index: 2;
  /* 検索コンテナの上に配置 */
}
#ais_link {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  border-radius: 20%;
  position: absolute;
  top: 200px;
  /* 検索コンテナの下に配置 */
  left: 20px;
  /* 左側の位置を検索コンテナと合わせる */
  z-index: 2;
  /* 検索コンテナの上に配置 */
}

#dashboard_link img {
  width: 30px;
  height: 30px;
}

#fish_link img {
  width: 30px;
  height: 30px;
}
#ais_link img {
  width: 30px;
  height: 30px;
}
