:root {
  --main-bg-color: #d4eaf7;
  --nav-bg-color: #00668c;
  --nav-hover-bg-color: #20272c5e;
  --nav-active-bg-color: #71c4ef;
  --nav-shadow-color: #71c4ef;
  --nav-border-color: #00668c;
  --text-color: white;

  /* --primary-100:#d4eaf7;
  --primary-200:#b6ccd8;
  --primary-300:#3b3c3d;
  --accent-100:#71c4ef;
  --accent-200:#00668c;
  --text-100:#1d1c1c;
  --text-200:#313d44;
  --bg-100:#fffefb;
  --bg-200:#f5f4f1;
  --bg-300:#cccbc8; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--main-bg-color);
}

.navigation {
  position: relative;
  height: 100vh;
  width: 70px;
  background-color: var(--nav-bg-color);
  box-shadow: 10px 0 0 var(--nav-shadow-color);
  border-left: 10px solid var(--nav-border-color);
  overflow-x: hidden;
  transition: all 0.5s;
}

.navigation:hover {
  width: 300px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-left: 10px;
}

.navigation ul li {
  list-style: none;
  display: block;
  position: relative;
  width: 100%;
  border-radius: 15px;
}

.navigation ul li:hover {
  background-color: var(--nav-hover-bg-color);
}

.navigation ul li.active {
  background-color: var(--nav-active-bg-color);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navigation ul li a {
  display: block;
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  display: flex;
}

.navigation ul li.active a::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -30px;
  right: 0;
  border-radius: 50%;
  box-shadow: 15px 15px 0 var(--nav-active-bg-color);
}
.navigation ul li.active a::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 60px;
  right: 0;
  border-radius: 50%;
  box-shadow: 15px -15px 0 var(--nav-active-bg-color);
}

.navigation ul li a .icon {
  display: block;
  min-width: 45px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.5em;
}

.navigation ul li a .title {
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}
